$header-top-bg: #F9F9F9;
$header-top-list: #999999;
$header-top-exchange: #bb162b;
$blackColor: #333333;
$lightGreyColor: #666666;
$redColor: #BF192F;
$greyColor: #d1d1d1;
$clientGrey: #797979;
$footerBg: #e4e5e6;