.wrapper {
  .header {
    /* HEADER TOP */
    .header-top {
      background-color: $header-top-bg;
      border-bottom: 0.5px solid #ebebeb;
      .container {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        box-sizing: border-box;
        .header-top__purpose-list {
          display: flex;
          list-style: none;
          li {
            text-transform: uppercase;
            padding-right: 10px;
            margin-left: 5px;
            background: url("../images/bd_stick.gif") 100% no-repeat;
            &:last-child {
              background: none;
              padding: 0;
            }
            a {
              font-weight: bold;
              color: $header-top-list;
              text-decoration: none;
              &:hover { text-decoration: underline; }
            }
          }
        }
        .header-top__exchange {
          color: $header-top-exchange;
          margin-left: 5px;
          font-weight: bold;
        }
        .header-top__search {
          margin-left: 5px;
          border: 1px solid $greyColor;
          border-radius: 20px;
          width: 120px;
          background: white;
          form {
            width: 100px;
            margin: 0 auto;

            input {
              width: 80%;
              border: none;
            }
            button {
              vertical-align: middle;
              width: 14px;
              height: 14px;
              border: none;
              outline: none;
              background: url("../images/buttons.png") 130px 58px;
              cursor: pointer;
            }
          }
        }
      }
    }

    /* HEADER MIDDLE */
    .header-main {
      .container {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
        .header-main__logo {
          img {
            width: 75px;
          }
        }
        .header-main__main-menu {
          display: flex;
          align-items: center;
          list-style: none;
          margin-left: 50px;
          li {
            text-transform: uppercase;
            a {
              color: $blackColor;
              font-size: 16px;
              font-weight: bold;
              text-decoration: none;
              margin-right: 25px;
              &:hover { text-decoration: underline; }
            }
          }
        }
        .header-main__number {
          width: 180px;
          height: 32px;
          background-color: $redColor;
          border-radius: 20px;
          a {
            display: block;
            vertical-align: center;
            text-decoration: none;
            color: #fff;
            height: 100%;
            &:hover { text-decoration: underline; }
            .tel-number {
              display: block;
              height: 100%;
              font-size: 17px;
              line-height: 30px;
              text-align: center;
              font-weight: bold;
              em {
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: middle;
                background: url("../images/buttons.png") -25px -41px;
              }
            }
          }
        }
      }
    }

  }
}