#key-moments{
  min-width: 960px;
  .key-moments__car-slider {
    position: relative;
    .owl-dots {
      display: flex;
      position: absolute;
      bottom: 50px;
      left: calc(50% - 88px);
      .owl-dot {
        display: block;
        height: 80px;
        width: 80px;
        outline: none;
        margin-right: 15px;
        &:first-child {background: url("../images/key-moments_btn_1.png");}
        &:nth-child(2) {background: url("../images/key-moments_btn_2.png");
          margin: 0;
        }
        &.active {
          &:first-child {background: url("../images/key-moments_btn_1_active.png");}
          &:nth-child(2) {background: url("../images/key-moments_btn_2_active.png");}
        }
      }
    }
    .car-slider__item {
      min-width: 960px;
      height: 100vh;
      color: #fff;
      text-shadow: #000 0 0 5px;
      &.bg-1 { background: url("../images/key-moments_slide_1.jpg") no-repeat center; }
      &.bg-2 { background: url("../images/key-moments_slide_2.jpg") no-repeat center; }
      .container {
        padding-top: 40px;
        font-weight: bold;
        .slider__item-title {
          display: block;
          font-size: 22px;
          line-height: 40px;
          padding-left: 5px;
          text-transform: uppercase;
          background: url("../images/top_stick.gif") no-repeat 7px 0;
        }
        .slider__item-slogan {
          font-size: 50px;
          line-height: 53px;
          padding-top: 15px;
        }
        .slider__item-text {
          font-size: 16px;
          line-height: 20px;
          padding-top: 15px;
          padding-left: 5px;
        }
      }
    }
  }

  .key-moments__car-parts {
    width: 100%;
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .car-parts__item {
        width: 24.89%;
        height: 100%;
        margin-right: 1px;
        margin-bottom: 1px;
        position: relative;
        overflow: hidden;
        &:nth-child(4n) {
          margin-right: 0;
        }
        &-img {
          display: block;
          width: 100%;
          transition: all .5s ease-in-out;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
        &-name {
          position: absolute;
          left: 30px;
          top: 30px;
          z-index: 2;
          font-size: 22px;
          line-height: 26px;
          color: #fff;
          text-shadow: #000 0 0 5px;
        }
      }
    }
  }
}