#main-content {
  .main-content__car_info {
    /* CAR MENU */
    .car-menu {
      background: $redColor;
      min-width: 960px;
      .container {
        display: flex;
        justify-content: space-between;
        .car-menu__info {
          display: flex;

          .car-menu__logo {
            height: 50px;
            img {
              width: 188px;
            }
          }
          .car-menu__menu {
            display: flex;
            align-items: center;
            list-style: none;
            margin-left: 20px;
            height: 100%;
            li {
              vertical-align: middle;
              text-transform: uppercase;
              margin-right: 25px;
              height: 50px;
              &:nth-child(2) {
                a {
                  box-sizing: border-box;
                  border-bottom: 4px solid #fff;
                  color: #fff;
                  font-weight: bold;
                }
              }
              a {
                display: block;
                font-size: 14px;
                line-height: 50px;
                text-decoration: none;
                color: #dd8b95;
                height: 100%;
                &:hover { text-decoration: underline; }

              }
            }
          }
        }
        .car-menu__more {
          width: 93px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid #920510;
          border-right: 1px solid #920510;
          position: relative;
          &.open {
            background-color: #74000f;
            .more-btn {
              background-position: 0 -48px;
            }
            .more-list {
              display: block;
            }
          }
          .more-btn {
            width: 47px;
            height: 12px;
            background: url("../images/car_spr.png") 0 -34px;
          }
          .more-list {
            display: none;
            position: absolute;
            top: 50px;
            right: 0;
            background-color: $redColor;
            list-style: none;
            width: 185px;
            &__item {
              border-top: 1px solid #920510;
              &:first-child {
                .item-spt { background-position:  0 0; }
              }
              &:nth-child(2) {
                .item-spt { background-position:  -16px 0; }
              }
              &:nth-child(3) {
                .item-spt { background-position:  -16px -16px; }
              }
              .item-spt {
                display: inline-block;
                width: 15px;
                height: 15px;
                vertical-align: middle;
                background: url(../images/car_spr.png) no-repeat;
              }
              a {
                display: block;
                border-top: 1px solid #c22e41;
                padding: 6px 13px;
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    .car-slider {
      .car-slider__item {
        min-width: 960px;
        height: 70vh;
        color: #fff;
        text-shadow: #000 0 0 5px;
        &:nth-child(1) {background: url("../images/main-info_slide_1.jpg") no-repeat center;}
        .container {
          padding-top: 40px;
          font-weight: bold;
          .slider__item-slogan {
            font-size: 50px;
            line-height: 53px;
            padding-top: 15px;
          }
          .slider__item-text {
            font-size: 16px;
            line-height: 20px;
            padding-top: 15px;
            padding-left: 5px;
          }
        }
      }
    }
    /* CAR INFO */
    .car-info {
      .container {
        .car-info__list {
          display: flex;
          justify-content: center;
          list-style: none;
          .car-info__list-item {
            width: 320px;
            height: 140px;
            background-color: #F7F7F7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-left: 0.5px solid #d1d1d1;
            border-right: 0.5px solid #d1d1d1;
            box-sizing: border-box;
            .list-item__details {
              margin-top: 10px;
              font-size: 14px;
              color: $lightGreyColor;
              span {
                font-size: 20px;
                line-height: 26px;
                display: block;
                font-weight: bold;
                color: $blackColor;
              }
            }
          }
        }
      }
    }
  }
}
