.fixed-items {
  .progress-menu {
    z-index: 10;
    position: fixed;
    top: calc(50% - 130px);
    right: 15px;
    &__list {
      list-style: none;
      &-item {
        text-align: right;
        &:hover {
          a {
            .item-text {
              width: 220px;
              background: url("../images/bg_indicatortxt_on.png");
            }
            .item-number {
              background: url("../images/bg_indicator_on.png") no-repeat;
            }
          }
        }
        a {
          position: relative;
          display: inline-block;
          color: #fff;
          font-weight: bold;
          height: 32px;
          .item-text {
            z-index: 11;
            width: 1px;
            //width: 220px;
            display: inline-block;
            max-width: 200px;
            max-height: 32px;
            text-align: left;
            padding-left: 16px;
            overflow: hidden;
            font-size: 14px;
            margin-right: 14px;
            line-height: 32px;
            background: url("../images/bg_indicatortxt_off.png");
            transition: all .3s ease-in-out;
            //&.point {
            //  width: 220px;
            //  background: url("../images/bg_indicatortxt_on.png");
            //}
          }
          .item-number {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 12;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            background: url("../images/bg_indicator_off.png") no-repeat;
            //&.point {
            //  background: url("../images/bg_indicator_on.png") no-repeat;
            //}
          }
        }
      }
    }
  }
  .fixed-items__btns {
    display: none;
    z-index: 10;
    position: fixed;
    bottom: 30px;
    right: 10px;
    &.btn_visible {
      display: block;
    }
    .fixed-btn {
      height: 67px;
      width: 67px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}